Screen {
    layout: vertical;
    background: $surface;
}

Screen.-app-unfocused {
    background: $surface-lighten-1;
}

ConversationView {
    height: 1fr;
    border: solid $primary;
}

ToolEconomicsPanel {
    height: auto;
    max-height: 12;
    dock: top;
    padding: 0 1;
    border: solid $accent;
}

TimelinePanel {
    height: auto;
    max-height: 12;
    dock: top;
    padding: 0 1;
    border: solid $accent;
}

SearchBar {
    dock: bottom;
    height: auto;
    max-height: 6;
    padding: 0 1;
    border-top: solid $accent;
}

StatsPanel {
    height: auto;
    max-height: 12;
    dock: top;
    padding: 0 1;
    border: solid $accent;
}

SessionPanel {
    height: 1;
    dock: top;
    padding: 0 1;
}

Toast {
    width: auto;
    max-width: 60;
    padding: 0 1;
}
